{% extends "bootstrap_5_layout.html" %}
{% set active_page = "comparison" %}

{% block content %}

    <h2>Comparison of Economic Indicators</h2>

    <div id="chart-container" height="700px"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        console.log("COMPARISON DASHBOARD...");
    
        // Fetch data from the API
        fetch('/api/comparison.json')
            .then(response => response.json())
            .then(data => {
                // Access the data from the response
                var interestData = data.interest;
                var treasuryData = data.treasury_yield;
                var unemploymentData = data.unemployment;
    
                console.log(interestData);
                console.log(treasuryData);
                console.log(unemploymentData);
    
                // Extract dates and values
                var dates = interestData.map(obj => obj["date"]);
                var interestRates = interestData.map(obj => parseFloat(obj["value"]) / 100.0);
                var treasuryRates = treasuryData.map(obj => parseFloat(obj["value"]) / 100.0);
                var unemploymentRates = unemploymentData.map(obj => parseFloat(obj["value"]) / 100.0);
    
                // Create series for all three variables
                var interestSeries = {
                    x: dates,
                    y: interestRates,
                    mode: "lines+markers",
                    name: "Interest Rate"
                };
    
                var treasurySeries = {
                    x: dates,
                    y: treasuryRates,
                    mode: "lines+markers",
                    name: "Treasury Rate"
                };
    
                var unemploymentSeries = {
                    x: dates,
                    y: unemploymentRates,
                    mode: "lines+markers",
                    name: "Unemployment Rate"
                };
    
                // Combine the series into an array
                var data = [interestSeries, treasurySeries, unemploymentSeries];
    
                // Define the layout
                var layout = {
                    title: "Comparison of Economic Indicators",
                    height: 500,
                    xaxis: {
                        title: "Year"
                    },
                    yaxis: {
                        title: "Rate (%)",
                        tickformat: '.1%',
                    },
                    legend: {
                        x: 0.1,
                        y: 1.1,
                        orientation: 'h'
                    }
                };
    
                // Plot the chart
                Plotly.newPlot("chart-container", data, layout, {responsive: true});
            })
            .catch(error => {
                console.error("Error fetching data: ", error);
            });
    </script>    

{% endblock %}