{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h2>Welcome</h2>

    <p> </p>

    <p>This website will teach you about four major economic indicators in the US.
        You can read a brief summary of the indicator, click on a link to learn more, 
        look at a data visualization, and browse recent data. 
        You can either look at one economic indicator at a time or compare all four indicators. 
        Click on the tabs at the top to get started!
    </p>

    <hr> </hr>
    <h2>About</h2>

    <p>These indicators were chosen because all are reported as a percentage, 
        making them easy to compare. 
        Further, these indicators are related to one another according to economic 
        theory, and you can examine the real data to see how it compares to the theories. 
    </p>

    <hr> </hr>
    <div>
        <img src="https://img.freepik.com/free-vector/gradient-stock-market-concept_52683-76908.jpg?t=st=1734385379~exp=1734388979~hmac=810356b39b9edd6313b78993934ce6cf9f980f0d76ad669f8ab0d3d79f2a687a&w=1480" alt="Stock Market Concept" class="img-fluid">
    </div>

{% endblock %}