{% extends "bootstrap_5_layout.html" %}
{% set active_page = "inflation" %}

{% block content %}

    <h2>Inflation Rates in the US</h2>

    <hr> </hr>
    
    <h4>Summary: </h4>
    <p> </p>
    <p> "Inflation is the increase in the prices of goods and services in an economy. 
        Essentially, inflation corresponds to a reduction in the purchasing power of money.
        The inflation rate is the annualized percentage change in a general price index. 
        As prices faced by households do not all increase at the same rate, 
        the consumer price index (CPI), which is a fixed basket of goods & services, 
        is often used for this purpose."
        <a href="https://en.wikipedia.org/wiki/Inflation" target="_blank">[Read more here]</a>
    </p> 
    <p> </p>

    <hr> </hr>
    <h4>Data: </h4>
    <div id="chart-container" height="700px"></div>

    <table class="table table-hover table-responsive caption-top">
        <caption>Inflation rates in the US over the last 10 years:</caption>
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Inflation Rate</th>
            </tr>
        </thead>
        <tbody>

        {% for row in data[0:10] %}
            <tr>
                <td>{{ row["date"] }}</td>
                <td>{{ row["value"] | round(2) }}%</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <hr> </hr>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        console.log("INFLATION DASHBOARD...")

        // use data from the router
        var inflationData = JSON.parse('{{data | tojson}}')
        console.log(inflationData)

        var dates = inflationData.map(obj => obj["date"])
        var rates = inflationData.map(obj => parseFloat(obj["value"]) / 100.0)

        // visualize the data
        var series = {
            x: dates,
            y: rates,
            mode: "lines+markers"
        }
        var data = [series]
        var layout = {
            title: "Inflation Rate over Time",
            height: 500,
            xaxis: {
                title: "Year"
            },
            yaxis: {
                title: "Inflation Rate (%)",
                tickformat: '.1%'
            }
        }
        Plotly.newPlot("chart-container", data, layout, {responsive: true})

    </script>
    <hr> </hr>

{% endblock %}