{% extends "bootstrap_5_layout.html" %}
{% set active_page = "interest" %}

{% block content %}

    <h2>Interest Rates in the US</h2>

    <hr> </hr>
    
    <h4>Summary: </h4>
    <p> </p>
    <p> "An interest rate is the amount of interest due per period, 
        as a proportion of the amount lent, deposited, or borrowed (called the principal sum). 
        The total interest on an amount lent or borrowed depends on 
        the principal sum, the interest rate, the compounding frequency, 
        and the length of time over which it is lent, deposited, or borrowed.
        The interest rate has been characterized as an index of the preference 
        for a dollar of present income over a dollar of future income.
        Interest rates are a vital tool of monetary policy, 
        and central banks change them to impact investment and consumption.
        In the US, the interest rate is called the federal funds rate. It is 
        the rate at which banks borrow from each other, 
        and it is set by the Federal Reserve."
        <a href="https://en.wikipedia.org/wiki/Interest_rate" target="_blank">[Read more here]</a>
    </p> 
    <p> </p>

    <hr> </hr>
    <h4>Data: </h4>
    <p> </p> 

    <div id="chart-container" height="700px"></div>

    <table class="table table-hover table-responsive caption-top">
        <caption>Interest rates in the US over the last 10 months:</caption>
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Interest Rate</th>
            </tr>
        </thead>
        <tbody>

        {% for row in data[0:10] %}
            <tr>
                <td>{{ row["date"] }}</td>
                <td>{{ row["value"] | round(2) }}%</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <hr> </hr>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        console.log("INTEREST DASHBOARD...")

        // use data from the router
        var interestData = JSON.parse('{{data | tojson}}') 
        console.log(interestData)

        var dates = interestData.map(obj => obj["date"])
        var rates = interestData.map(obj => parseFloat(obj["value"]) / 100.0)

        // visualize the data
        var series = {
            x: dates,
            y: rates,
            mode: "lines+markers"
        }
        var data = [series]
        var layout = {
            title: "Interest Rate over Time",
            height: 500,
            xaxis: {
                title: "Month"
            },
            yaxis: {
                title: "Interest Rate (%)",
                tickformat: '.1%'
            }
        }
        Plotly.newPlot("chart-container", data, layout, {responsive: true})

    </script>
    <hr> </hr>

{% endblock %}